* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(login.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.center {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
    
button {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background: rgb(62, 126, 69);
}
    
button:hover {
    background: rgb(62, 126, 69, 0.877);
}

input:focus {
    border: 1px solid rgb(192,192,192);
}
    
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(72, 122, 78);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.validation {
    display: flex;
    flex-direction: column;
}

.validation input {
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.validation input:focus {
    outline: 0;
}

.validation.success input {
    border-color: #09c372;
}

.validation.error input {
    border-color: red;
}

.validation.error {
    color: red;
    font-size: 9px;
    height: 13px;
}
